*{
    padding: 0;
    margin: 0;
    font-size: 42px;
    color: black;
}

body{
    background: linear-gradient(to right top, black,blue,black);
    height: 100vh;
}

.container{
    display: flex;
    border: 2px solid white;
    border-radius: 20px;
    background-color: green;
    justify-content: center;
    margin-top: 50px;
}

.col{
    border: 2px solid black;
    background-color: #fff;
    border-radius: 10px;
    color: orangered;
    text-align: center;
}