*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%; /* 1 rem = 10px */
    scroll-behavior: smooth;
}

body{
    height: 150vh;
    background-image: url('/moon-1859616_1920.jpg');
    background-position: center;
    background-size: cover;
}

/*////////////////////////////-   NAVIGATION  -////////////////////// */

.navbar{
    font-size: 2.2rem;
    background-image: url('/moon-2048727_1920.jpg');
    background-position: center;
    background-size: cover;
}

.fa-artstation{
    font-size: 4rem;
}
